* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #272829 !important;
    font-family: 'Roboto', sans-serif;
}

/* Index styles */

/* carrousel */
.imgCarrousel {
    height: 25rem;
    object-fit: cover;
}

.carousel {
    padding: 1rem;
    margin-top: .5rem;
    margin-bottom: -1rem;
    width: 85vw;
}

.carrouselButton {
    color: #272829;
}

/* navbar */
.navbar-nav > li{
    float: left;
}
.navbar-nav li ul{
    display: none;
    position: absolute;
    max-width: min-content + 2rem; 
    z-index: 3;
    background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity));
}
.navbar-nav li:hover > ul{
    display: block;
}
.nav-category-list li a{
    color: #272829;
    text-decoration: none;
}
.nav-category-list {
    list-style: none;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    text-align: center;
    margin: 1rem;
}

.highlight {
    color: #61677A;
    background-color: #FFF6E0;
    border-radius: 10px;
}

/* In sale */
.product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto;
}
.oldPrice{
    text-decoration: line-through;
    opacity: .5;
}
hr{
    width:95vw;
    margin: 2rem 0rem;
}
.product-card {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    width: 30%;
    background-color: #fff;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}

/* Footer */

.nav-footer {
    display: flex;
    justify-content: space-around;

    .nav-item {
        margin-inline-start: .3rem;
        height: 20px;
        width: 30px;
        margin: 0rem 1rem;
    }
}

.footer-img {
    object-fit: contain;
    width: 2rem;
}

.footer-link {
    height: 6rem;
    width: 6rem;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.rights p {
    text-align: center;
    color: #FFF6E0;
    font-size: 14px;
}

/* Contact us styles*/
.contact-form {
    min-width: 60%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form {
    display: grid;
    gap: 10px;
}

.label {
    font-weight: bold;
}

.input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* About us styles */
.about-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.about-content {
    max-width: 600px;
}

.about-description,
.about-offer {
    margin-bottom: 20px;
}

.company-image {
    max-width: 100%;
    border-radius: 16px;
}

.h1About {
    text-decoration: underline;
    text-decoration-color: #61677A;
}